<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.8.3" targetFramework="net45" />
  <package id="Microsoft.Web.WebView2" version="1.0.1901.177" targetFramework="net45" />
  <package id="Resource.Embedder" version="2.2.0" targetFramework="net45" />
</packages>